@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* === CUSTOM SCROLLBAR STYLING === */
::-webkit-scrollbar {
  width: 6px;             
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; 
}


@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
  }
}